name: Destroy-Module

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select the environment to destroy'
        required: true
        default: 'dev' 
        type: string
        options:
          - dev
          - staging
          - prod

jobs:
  terraform-destroy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: '1.5.0'

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Destroy VPC Module
        run: |
          terraform init \
          -backend-config="bucket=powertool2026" \
          -backend-config="key=vpc/${{ github.event.inputs.environment }}/terraform.tfstate" \
          -backend-config="region=us-east-1" \
          -backend-config="encrypt=true" \
        
          terraform workspace select "${{ github.event.inputs.environment }}" || terraform workspace new "${{ github.event.inputs.environment }}"
          terraform destroy -auto-approve

      - name: Destroy Security Group Module
        run: |
          terraform init -reconfigure \
          -backend-config="bucket=powertool2026" \
          -backend-config="key=security_group/${{ github.event.inputs.environment }}/terraform.tfstate" \
          -backend-config="region=us-east-1" \
          -backend-config="encrypt=true" \
        
          terraform workspace select "${{ github.event.inputs.environment }}" || terraform workspace new "${{ github.event.inputs.environment }}"
          terraform destroy -auto-approve

      - name: Destroy Subnet Module
        run: |
          terraform init -reconfigure \
          -backend-config="bucket=powertool2026" \
          -backend-config="key=subnet/${{ github.event.inputs.environment }}/terraform.tfstate" \
          -backend-config="region=us-east-1" \
          -backend-config="encrypt=true" \
       
          terraform workspace select "${{ github.event.inputs.environment }}" || terraform workspace new "${{ github.event.inputs.environment }}"
          terraform destroy -auto-approve
