name: Destroy-Workspace

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select the environment (workspace) to destroy'
        required: true
        default: 'dev'
        type: string
        options:
          - dev
          - staging
          - prod

jobs:
  destroy-workspace:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: '1.5.0'

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Initialize Terraform
        run: |
          terraform init \
          -backend-config="bucket=powertool2026" \
          -backend-config="region=us-east-1" \
          -backend-config="encrypt=true" \
        

      - name: Select workspace
        run: |
          terraform workspace select "${{ github.event.inputs.environment }}"

      - name: Delete workspace
        run: |
          terraform workspace delete -force "${{ github.event.inputs.environment }}"
